# as a library, we want to make sure we explicitly handle peers,
# and not rely on hidden behavior of package-managers.
auto-install-peers=false

# we never want to use packages from the registry over what's in the workspace
prefer-workspaces-packages=true

# use the highest version possible
resolution-mode=highest

# when migrating from yarn, too much sloppiness was revealed to
# deal with in one PR.
# These settings re-create yarn's broken dep management behavior
#
# To fix, we need to:
# - adjust usage of ephemeral directory,
#   - probably use tmp
#   - properly manage dependencies under test
#     - link to our workspace packages
#     - potentially use scenario-tester to manage package linking
# - properly manage dependencies
#   - no package cycles
#   - whatever is imported must be in local package.json
shamefully-hoist=true
node-linker=hoisted