# Compiled output
/packages/*/lib
/test-packages/*/lib
dist/

# Hidden directories
.*/

# Templates (Prettier wreaks havoc with `@glint` directives)
*.hbs

# Environment packages use a weird structure because they're a mix
# of generated and hand-rolled `.d.ts` files.
/packages/environment*/**/*.js
/packages/environment*/**/*.d.ts
!/packages/environment*/-private/dsl/**/*.d.ts
!/packages/environment*/-private/intrinsics/**/*.d.ts

packages/core/__tests__/support/character-position-viewer.html

/packages/vscode/src/generated-meta.ts

# Markdown files: the formatting Prettier uses by default *does. not. match.*
# the formatting applied by Gitbook. Having both present is a recipe for ongoing
# CI problems.
*.md
