name: CI

# These trigger patterns courtesy of https://github.com/broccolijs/broccoli/pull/436
on:
  pull_request:
  push:
    # filtering branches here prevents duplicate builds from pull_request and push
    branches:
      - main
    # always run CI for tags
    tags:
      - '*'

  # early issue detection: run CI weekly on Sundays
  schedule:
    - cron: '0 6 * * 0'

env:
  CI: true

jobs:
  lint: 
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm lint


  # tracking for re-enablement here: https://github.com/typed-ember/glint/issues/728
  # type-tests:
  #   name: "Type Tests"
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 18
  #         cache: pnpm

  #     - uses: pnpm/action-setup@v2
  #       with:
  #         version: 10.6.2
  #         run_install: true
  #     - run: "pnpm build"
  #     - run: "pnpm --filter '*' run test:typecheck"
  #     - run: "pnpm --filter '*' run test:tsc"

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          cache: 'pnpm'
      - run: pnpm install
      - name: Build
        run: pnpm build
      - name: Run Tests
        uses: coactions/setup-xvfb@v1
        with:
          run: pnpm test

  # The Windows runner can be super flaky both with Yarn installs and
  # when launching browser tests, so we allow for retries in those steps.
  # tracking for re-enablement here: https://github.com/typed-ember/glint/issues/728
  # test-windows:
  #   name: Test Windows
  #   runs-on: windows-2022
  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v3
  #     - name: Install Node
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 18
  #     - name: Install Dependencies
  #       uses: nick-fields/retry@v2
  #       with:
  #         max_attempts: 2
  #         timeout_minutes: 10
  #         command: pnpm install
  #     - name: Build
  #       run: pnpm build
  #     - name: Test @glint/core
  #       uses: nick-fields/retry@v2
  #       with:
  #         max_attempts: 2
  #         timeout_minutes: 20
  #         command: pnpm --filter @glint/core test
  #     - name: Test glint-vscode
  #       uses: nick-fields/retry@v2
  #       with:
  #         max_attempts: 2
  #         timeout_minutes: 10
  #         command: pnpm --filter glint-vscode test
  #     - name: Test @glint/scripts
  #       run: pnpm --filter @glint/scripts test

  # tracking for re-enablement here: https://github.com/typed-ember/glint/issues/728
  # test-floating-deps:
  #   name: Test Floating Dependencies
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 18
  #         cache: 'pnpm'
  #     - uses: pnpm/action-setup@v2
  #       with:
  #         version: 10.6.2
  #         run_install: true
  #     - name: Build
  #       run: pnpm build
  #     - name: Run Tests
  #       uses: coactions/setup-xvfb@v1
  #       with:
  #         run: pnpm test

  # tracking for re-enablement here: https://github.com/typed-ember/glint/issues/728
  # test-ts-nightly:
  #   name: Test TypeScript Nightly
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-node@v4
  #       with:
  #         node-version: 18
  #         cache: 'pnpm'
  #     - uses: pnpm/action-setup@v2
  #       with:
  #         version: 10.6.2
  #         run_install: true
  #     - run: pnpm add -D typescript@next
  #     - name: Build
  #       run: pnpm build
  #     - name: Run Tests
  #       uses: coactions/setup-xvfb@v1
  #       with:
  #         run: pnpm test
